# 1.MySQL 서버 접속

In [ ]:
!pip install pymysql > /dev/null

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import json
with open('/content/drive/MyDrive/최종프로젝트/자료/mysql.json') as fp:
    config_str = fp.read()
config = json.loads(config_str)

In [ ]:
import pymysql
conn = pymysql.connect(
    host = config['host'],
    user = config['user'],
    password = config['password'],
    database = config['database'],
    port = config['port']
)

# 2. Safety 테이블 생성

In [ ]:
cur = conn.cursor()
sql_create_table = '''
    create table if not exists safety ( 
        year char(4) not null, 
        month char(2) not null, 
        day varchar(2) not null,
        hour varchar(2) not null,
        minute varchar(2) not null,
        second varchar(2) not null,
        Person varchar(1) not null,
        Vest varchar(1) not null,
        Helmet varchar(1) not null,
        NoHelmet varchar(1) not null,
        NoVest varchar(1) not null,
        reg_date datetime default current_timestamp         
    );
'''

In [ ]:
cur.execute(sql_create_table)

0

# 3. 데이터 추가

In [ ]:
import pandas as pd
df = pd.read_csv('test (1).csv')
df

   Person  Vest  Helmet  NoHelmet  NoVest  ...  month  day  hour  minute  second
0       0     0       0         0       0  ...     11   30     9      22      58

[1 rows x 11 columns]

In [ ]:
Person = df.Person[0]
Vest = df.Vest[0]
Helmet = df.Helmet[0]
NoHelmet = df.NoHelmet[0]
NoVest = df.NoVest[0]
year = df.year[0]
month = df.month[0]
day = df.day[0]
hour = df.hour[0]
minute = df.minute[0]
second = df.second[0]

In [ ]:
insert_code = f'INSERT INTO safety(year, month, day, hour, minute, second, Person, Vest, Helmet, NoHelmet, NoVest) VALUES({year}, {month}, {day}, {hour}, {minute}, {second}, {Person}, {Vest}, {Helmet}, {NoHelmet}, {NoVest});'
insert_code

'INSERT INTO safety(year, month, day, hour, minute, second, Person, Vest, Helmet, NoHelmet, NoVest) VALUES(2021, 11, 30, 9, 22, 58, 0, 0, 0, 0, 0);'

In [ ]:
cur.execute(sql_create_table)
sql_insert = insert_code
cur.execute(sql_insert)

1

In [ ]:
sql_select = 'select * from safety;'
cur.execute(sql_select)
row = cur.fetchone()

In [ ]:
row

('2021',
 '11',
 '30',
 '9',
 '22',
 '58',
 '0',
 '0',
 '0',
 '0',
 '0',
 datetime.datetime(2021, 11, 30, 10, 11, 8))

In [ ]:
conn.commit()

# 4. 데이터 조회
- DATE_FORMAT(reg_date, '%Y-%m-%d %H:%i:%s') AS reg_date 에서 %Y-%m-%d %H:%i:%s 필요에 따라 수정 가능

In [ ]:
sql_select = '''
        SELECT DATE_FORMAT(reg_date, '%Y-%m-%d %H:%i:%s') AS reg_date, year, month, day, hour, minute, second, Person, Vest, Helmet, NoHelmet, NoVest 
            FROM safety1
            ORDER BY reg_date;
'''

In [ ]:
cur = conn.cursor()
cur.execute(sql_select)
rows = cur.fetchall()         # fetchall
rows

# 5. 조건에 맞는 데이터 조회
- WHERE 뒤에 원하는 조건 입력 (ex. hour = 15, hour < 16 등등)

In [ ]:
sql_select = '''
        SELECT DATE_FORMAT(reg_date, '%Y-%m-%d %H:%i:%s') AS reg_date, year, month, day, hour, minute, second, Person, Vest, Helmet, NoHelmet, NoVest
            FROM safety1
            WHERE hour < 16
            ORDER BY reg_date;
'''

In [ ]:
cur = conn.cursor()
cur.execute(sql_select)
rows = cur.fetchall()         # fetchall
rows

(('2021-11-30 15:30:38',
  '2021',
  '11',
  '30',
  '15',
  '30',
  '38',
  '0',
  '0',
  '0',
  '0',
  '0'),
 ('2021-11-30 15:30:46',
  '2021',
  '11',
  '30',
  '15',
  '30',
  '46',
  '0',
  '0',
  '0',
  '0',
  '0'),
 ('2021-11-30 15:30:55',
  '2021',
  '11',
  '30',
  '15',
  '30',
  '54',
  '0',
  '0',
  '0',
  '0',
  '0'),
 ('2021-11-30 15:31:03',
  '2021',
  '11',
  '30',
  '15',
  '31',
  '3',
  '0',
  '0',
  '0',
  '0',
  '0'),
 ('2021-11-30 15:31:11',
  '2021',
  '11',
  '30',
  '15',
  '31',
  '10',
  '0',
  '0',
  '0',
  '0',
  '0'),
 ('2021-11-30 15:31:18',
  '2021',
  '11',
  '30',
  '15',
  '31',
  '18',
  '0',
  '0',
  '0',
  '0',
  '0'),
 ('2021-11-30 15:31:26',
  '2021',
  '11',
  '30',
  '15',
  '31',
  '26',
  '0',
  '0',
  '0',
  '0',
  '0'),
 ('2021-11-30 15:31:34',
  '2021',
  '11',
  '30',
  '15',
  '31',
  '34',
  '0',
  '0',
  '0',
  '0',
  '0'),
 ('2021-11-30 15:31:42',
  '2021',
  '11',
  '30',
  '15',
  '31',
  '42',
  '0',
  '0',
  '0',
  '0',
  '0'),
 ('2021-11-30 15:31:50',
  '2021',
  '11',
  '30',
  '15',
  '31',
  '50',
  '0',
  '0',
  '0',
  '0',
  '0'),
 ('2021-11-30 15:31:58',
  '2021',
  '11',
  '30',
  '15',
  '31',
  '58',
  '0',
  '0',
  '0',
  '0',
  '0'),
 ('2021-11-30 15:32:06',
  '2021',
  '11',
  '30',
  '15',
  '32',
  '6',
  '0',
  '0',
  '0',
  '0',
  '0'))